<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>

  <modules>
    <module assemblyFile="Modules.Generic.dll"
            moduleType="Modules.Generic.GenericModule, Modules.Admin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="UserModule"
            startupLoaded="true" />

    <module assemblyFile="Modules.Admin.dll"
            moduleType="Modules.Admin.AdminModule, Modules.Admin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="AdminModule"
            startupLoaded="true" />
  </modules>
</configuration>