<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>

  <modules>
    <module assemblyFile="Modules.Generic.dll"
            moduleType="Modules.Generic.GenericModule, Modules.Generic, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="GenericModule"
            startupLoaded="true" />

    <module assemblyFile="Modules.Admin.dll"
            moduleType="Modules.Admin.AdminModule, Modules.Admin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="AdminModule"
            startupLoaded="true" />

    <!--
    NOTE: If a DLL is missing, the app will crash
    <module assemblyFile="InvalidModule.dll"
            moduleType="Modules.User.UserModule, Modules.User, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="UserModule"
            startupLoaded="true" />
    -->

  </modules>
</configuration>